<!doctype html>
<html lang="en" ng-app="loginapp">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Create Study</title>
	<script src="bower_components/angular/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller/createstudycontroller.js"></script>
  <script src="js/routes/routes.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
  <script src="bower_components/assets/angular-ui-util/ui-utils.min.js" type="text/javascript"></script>



	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <link href="assets/css/paper-dashboard.css" rel="stylesheet"/>

    <link href="assets/css/demo.css" rel="stylesheet" />

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">

</head>
<body  ng-controller ="createStudyController" >

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">



    	<div class="sidebar-wrapper">
            <div class="logo">
                <p  class="simple-text">
                    Create Study
                </p>
            </div>

            <ul class="nav">
							<li class ="active">
									<a href="listusers.html">
											<i class="ti-view-list-alt"></i>
											<p>List of Users</p>
									</a>
							</li>
                <li class="active">
                    <a href="createuser.html">
                        <i class="ti-user"></i>
                        <p>Create Account</p>
                    </a>
                </li>

								<li class="active">
                    <a href="createstudy.html">
                        <i class="ti-user"></i>
                        <p>Create Study</p>
                    </a>
                </li>

                <li class="active">
                    <a href="liststudies.html">
                        <i class="ti-user"></i>
                        <p>List of Studies</p>
                    </a>
                </li>


              
								<li class="active">
                                    <a href="" ng-click="logout()">
                                            <i class="ti-user"></i>
                                            <p>Log Out</p>
                                    </a>
                            </li>


            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="createuser.html">Create Study</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="" ng-click="logout()">
                                <i class="ti-user"></i>
                                <p>Log Out</p>
                        </a>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>



            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Create Study</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Study Name</label>
                                                <input type="text" ng-model = "sname"  class="form-control border-input" placeholder="study name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Study Description</label>
                                                <textarea type="text" rows="4" cols="50" class="form-control border-input" placeholder="Study Description" ng-model = "sdescr">
                                                    </textarea>
                                            </div>
                                        </div>
                                        </div>
																				
                                        <div class="row">
                                    <div class="form-group">
                                            <div class="text-center">
                                        <button type="button" ng-click="createStudy()"  class="btn btn-info btn-fill btn-wd">Create Study</button>
                                    </div>
                                    </div>

                                        </div>

																		<div class="alert alert-danger" ng-if="error == 'error'">
															          <strong>{{status}}</strong>
															        </div>

                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>





    </div>
</div>


</body>

    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

	<script src="assets/js/bootstrap-checkbox-radio.js"></script>

	<script src="assets/js/chartist.min.js"></script>

    <script src="assets/js/bootstrap-notify.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

	<script src="assets/js/paper-dashboard.js"></script>

	<script src="assets/js/demo.js"></script>

</html>
